#Credenciais do SISREG³
USER_SIS = X
PASS_SIS = X

#Credenciais do DB
USER_DB = 'X'
PASS_DB = 'X'

#Credenciais do TWILIO
TWILIO_ACCOUNT = 'X'
TWILIO_TOKEN  = 'X'

#Telefone para quando estiver anonimizando (Caso nao for aninimizar os dados deixar essa variavel vazia)
NUMBER_ANONIMO = X